.shown {
  background-color: lightblue;
}

.not-shown {
  background-color: rgb(231, 231, 231);
}

.highlighted {
  background-color: rgb(225, 241, 247);
}

.question {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  cursor: pointer;
  margin-top: 4px;
  padding: 4px;
  text-align: start;
  border-radius: 4px;
}

.question:active {
  background-color: rgb(141, 178, 190);
}

.question-number {
  font-weight: bold;
  width: 30px;
}

.question-text {
  margin: 4px;
}